@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}
::selection{
    background-color: #0b372dbb;
}
.logo{
    width: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}
header{
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.9rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

header nav{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

.search a{
    font-size: 1.05rem;
    padding: 0 3rem;
}

.hamburger{
    padding: 1.5rem;
}

.hamburger a{
    padding: 0;
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar{
    position: relative;
    width: 52%;
    height: 1px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::before{
    top: -4px;
}
.hamburger .bar::after{
    top: 4px;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.parallax{
    pointer-events: none;
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);
}
.bg-img{
    position: absolute;
    width: calc(2800 / 1440 * 100%);/* 2800px */
    /*width: 2800px;*/
    top: calc(50% - 390px);
    /*top: calc(50% - 390px);*/
    left: 50.69%;
    /*left: calc(50% + 10px);*/
    z-index: 1;
}

.fog-5{
    position: absolute;
    width: 2000px;
    top: calc(50% + 270px);
    left: calc(50% + 50px);
    z-index: 2;
}
.fog-4{
    position: absolute;
    width: 2000px;
    top: calc(50% + 210px);
    left: calc(50% - 200px);
    z-index: 3;
}
.mountain-9{
    position: absolute;
    width: 450px;
    top: calc(50% + 150px);
    left: calc(50% - 319px);
    z-index: 4;
}
.mountain-8{
    position: absolute;
    width: 260px;
    top: calc(50% + 172px);
    left: calc(50% - 750px);
    z-index: 5;
}
.mountain-7{
    position: absolute;
    width: 230px;
    top: calc(50% + 150px);
    left: calc(50% + 610px);
    z-index: 6;
}
.fog-3{
    position: absolute;
    width: 1600px;
    top: calc(50% + 194px);
    left: calc(50% - 96px);
    z-index: 7;
}
.mountain-6{
    position: absolute;
    width: 200px;
    top: calc(50% + 222px);
    left: calc(50% - 540px);
    z-index: 8;
}
.mountain-5{
    position: absolute;
    width: 800px;
    top: calc(50% + 210px);
    left: calc(50% + 450px);
    z-index: 9;
}
.fog-2{
    position: absolute;
    width: 1900px;
    top: calc(50% + 200px);
    left: calc(50%);
    z-index: 10;
}
.fog-1{
    position: absolute;
    width: 1900px;
    top: calc(50% + 290px);
    left: calc(50% - 50px);
    z-index: 11;
}
.mountain-4{
    position: absolute;
    width: 500px;
    top: calc(50% + 310px);
    left: calc(50% - 10px);
    z-index: 12;
}
.mountain-3{
    position: absolute;
    width: 600px;
    top: calc(50% + 210px);
    left: calc(50% - 700px);
    z-index: 13;
}
.mountain-2{
    position: absolute;
    width: 900px;
    top: calc(50% + 330px);
    left: calc(50% - 290px);
    z-index: 14;
}
.mountain-1{
    position: absolute;
    width: 600px;
    top: calc(50% + 70px);
    left: calc(50% + 700px);
    z-index: 14;
}

.text{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    pointer-events: auto;
}
.text .title-sub{
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;
}

.text h1{
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
}

.sun-rays{
    position: absolute;
    z-index: 19;
    top: 0;
    left: 0;
    width: 596px;
    pointer-events: none;
}
.shadow{
    position: absolute;
    z-index: 19;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.viginette{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(ellipse at center,rgba(0,0,0,0) 65%,rgba(0,0,0,.7));
    pointer-events: none;
}

@media (max-width: 1100px){
    .text .title-sub{
        font-size: 4.7rem;
    }
    .text h1{
        font-size: 5.8rem;
    }
}

@media (max-width: 724px){
    .text .title-sub{
        font-size: 4.1rem;
        line-height: 1.1;
    }
    .text h1{
        font-size: 5rem;
        line-height: 1.1;
    }

    header nav{
        padding: 0 1rem;
    }

    .logo{
        width: 75px;
    }

    header ul a{
        font-size: .73rem;
        padding: 0 .9rem;
    }

    .search a{
        font-size: .85rem;
        padding: 0 1.8rem;
    }
    .hamburger{
        padding-left: .9rem;
    }
    .hamburger a{
        height: 30px;
        width: 30px;
    }
}
@media (max-width: 520px){
    .text .title-sub{
        font-size: 3.3rem;
    }
    .text h1{
        font-size: 2.6rem;
    }
}